
main {
    display: grid;
    grid-template-columns: 3;
    gap: 20px;
}
div {
    
    height: 95vh;

}
.orange {
    background-color: rgb(202, 81, 1);
    grid-column-start: 1;
  

}
.green {
    background-color: rgb(14, 100, 79);
    grid-column-start: 2;
    
   
}
.purple{
    background-color: rgb(87, 5, 43);
    grid-column-start: 3;
    
    
}

