*{
    color: var(--blue-mesage);
    background-color: white;
  
}
h1{
    color: black;
    margin-top: 10%;
}
#hi{
    color: blueviolet;
    margin-top: 10%;
    
}
#par{
    color: black;
}

#IAC{
    
    
    
}