*{
    margin: 0px;
    padding: 0px;
    background-color: white;
  
}
#general{
    margin: auto;
    margin-top: 1%;
    width: 1300px;
    height: 900px;
    background-color: aqua;
}
#izquierdo{
    float: left;
    background-color: brown;
    width: 400px;
    height: 900px;

}

#foto{
width: 100%;
height: 30%;
background-color: blue;
}

#personalinfo{
    width: 100%;
    height: 30%;
    background-color: green;
}