body {
    margin: 0;
    padding: 0;
    background-color: beige;
}

main {
   
    width: 90%;
    height: 90vh;

    margin-left: 5%;
    margin-top: 0.1%;
    background-color: rgb(175, 172, 172);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

h1{
    margin-bottom: 0;
}


.caja {
    display: flex;
    width: 10%;
    height: 30%;
    margin: 0.5%;
    padding: 0;
    align-items: center;
    justify-content: center;
    
    
}

.caja-verde {
    background-color: rgb(166, 248, 166);
    order: -2;
    outline: 1px solid black;
    
}

.caja-azul{
    background-color: rgb(152, 152, 255);
    order: 2;
    flex-grow: 0.5;
    outline: 1px solid black;
}
.caja-beige {
    background-color: beige;
    order: 3;
    outline: 1px solid black;
}

.caja-salmon {
    background-color: salmon;
    order: 4;
    outline: 1px solid black;
}