body{
    background-color: beige;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 80%;
    height: 70vh;
    background-color: gray;
}
.caja {
    position: relative;
    width: 90%;
    height: 90%;
    border: 1px solid salmon;
    flex-direction: column;
}
cajita {
    position: relative;
    width: 10%;
    height: 40%;
    background-color: green;
    flex-grow: 0.2%;
    margin: 5%;
}
.box{
    flex-grow: 2%;
}