body{
  
    background-color: black;
    background-image: url('pexels-pixabay-159400.png');
    
    top: -117px;
    left: -28px;
    width: 1977px;
    height: 1446px;
    padding: 0px;
    margin: 0px;
}




#logo{
    width: 1878px;
    height: 1218px;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    
}

/* tercera pagina*/
.cuadro{
    width: 936px;
    height: 761px;
    /*zone element   */
    top: 160px;
    left: 492px;
    right: 492px;
    bottom: 159px;
    position: absolute;
    
    border: 1px solid #707070;
    background-color: white;
    border-radius: 67px;
    padding: 67px 67px 67px 67px;
    
  
    

}
#minilogo{
    width: 102.97px;
    height: 115.52px;
    /* zona de elemento*/
    top: 37.48px;
    left: 416.51px;
    right: 416.51px;
    bottom: 608px;
    position: absolute;
    


}

#titleCuadrito{
  
    /*dimensions*/
    width: 522px;
    height: 96px;
    /*zone element*/
    top: 176px;
    left: 218px;
    right: 218px;
    bottom: 489px;
    position: absolute;
    
    
}
h1 {
    margin: 0px;
    padding: 0px;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    

}

#paragraphf1 {
    /*dimensions*/
    width: 600px;
    height: 20px;
    /*zone element*/
    top: 295px;
    left: 207px;
    right: 207px;
    bottom: 446px;
    position: absolute;
}
p, label {
    margin: 0px;
    padding: 0px;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    
    
}

#puser {

    margin: 0px;
    padding: 0px;
    /* font*/
    font-size: 25px;

    /*dimensions*/
    width: 76px;
    height: 25px;
    /* zone element*/
    top: 338px;
    left: 155px;
    right: 705px;
    bottom: 398px;
    position: absolute;
    text-align: left;
      
}

#user {
    /*dimensions*/
    width: 650px;
    height: 50px;
    /*zone element*/
    top: 370px;
    left: 143px;
    right: 143px;
    bottom: 341px;
    /*radius*/
    border-radius: 20px;
    border: 1px solid #707070;
    position: absolute;
    
}
#ppasword {
    margin: 0px;
    padding: 0px;
    /* font*/
    font-size: 25px;
    /*dimensions*/
    width: 113px;
    height: 25px;
    /* zone element*/
    top: 443px;
    left: 149px;
    right: 674px;
    bottom: 293px;
    position: absolute;
    text-align: left;
}

#clave {
    /*dimensions*/
    width: 650px;
    height: 50px;
    /*zone element*/
    top: 475px;
    left: 143px;
    right: 143px;
    bottom: 236px;
    position: absolute;
    /*radius*/
    border-radius: 20px;
    border: 1px solid #707070;
    position: absolute;
}

#enviarbutton {
    /*dimensions*/
    width: 336px;
    height: 70px;
    /* zone element*/
    top: 563px;
    left: 300px;
    right: 300px;
    bottom: 128px;
    position: absolute;
}

#paragraphf2 {
    /*dimensions*/
    width: 690px;
    height: 15px;
    /* zone element*/
    top: 669px;
    left: 174px;
    right: 174px;
    bottom: 77px;
    position: absolute;
    /*font*/
    font-size: 15px;

}

#end {
    font-size: 15px;
    text-align: center;
}

/*quinta pagina*/

.cuadrologing {
    /*dimensions*/
    width: 936px;
    height: 549px;
    /*zone element*/
    top: 266px;
    left: 492px;
    right: 492;
    bottom: 265px;
    position: absolute;
    /*backgound*/
    background-color: white;
    border: 1px solid #707070;
    border-radius: 79px;
}
/* septima pagina*/
.page {
    /*dimensions*/
    width: 1920px;
    height: 1080px;
    /*zone element*/
    background-color: white;
    position: absolute;
        
}
#icono1 {
    /*dimensions*/
    width: 31px;
    height: 31px;
    /*zone element*/
    top: 31px;
    left: 188px;
    right: 1701px;
    bottom: 1080px;
    position: absolute;
    
}

#add {
    /*dimensions*/
    width: 67px;
    height: 24px;
    /*zone element*/
    top: 35px;
    left: 229px;
    right: 1624px;
    bottom: 1021px;
    position: absolute;
    
}
#reload {
    /*dimensions*/
    width: 26.85px;
    height: 26.89px;
    /*zone element*/
    top: 32.06px;
    left: 423.07px;
    right: 1470.07px;
    bottom: 1021.06px;
    position: absolute;
}
#refres {
   /*dimensions*/
    width: 91px;
    height: 24px;
    /*zone element*/
    top: 35px;
    left: 459.93px;
    right: 1369.07px;
    bottom: 1021px;
    position: absolute;
}
#iconodelete {
    /*dimensions*/
    width: 24.98px;
    height: 32.11px;
    /*zone element*/
    top: 29.39px;
    left: 678px;
    right: 1217.02px;
    bottom: 1018.5px;
    position: absolute;
}
#eliminar {
    /*dimensions*/
    width: 81px;
    height: 24px;
    /*zone element*/
    top: 36px;
    left: 712.98px;
    right: 1126.02px;
    bottom: 1020px;
    position: absolute;
}
#kario {
    /*dimensions*/
    width: 41.72px;
    height: 37.37px;
    /*zone element*/
    top: 24.13px;
    left: 939.14px;
    right: 939.14px;
    bottom: 1018.5px;
    position: absolute;

}
#bug {
    /*dimensions*/
    width: 33.78px;
    height: 38px;
    /*zone element*/
    top: 23.5px;
    left: 1218px;
    right: 668.22px;
    bottom: 1018.5px;
    position: absolute;

}
#reportar {
    /*dimensions*/
    width: 98px;
    height: 24px;
    /*zone element*/
    top: 32.82px;
    left: 1269.04px;
    right: 557.96px;
    bottom: 1023.18px;
    position: absolute;
    
}
#help {
    /*dimensions*/
    width: 34.05px;
    height: 34.05px;
    /*zone element*/
    top: 27.45px;
    left: 1489.12px;
    right: 396.84px;
    bottom: 1018.5px;
    position: absolute;
}
#ayuda {
    /*dimensions*/
    width: 64px;
    height: 24px;
    /*zone element*/
    top: 32.82px;
    left: 1540.43px;
    right: 315.57px;
    bottom: 1023.18px;
    position: absolute;   
}

#config {
    /*dimensions*/
    width: 19.04px;
    height: 19.05px;
    /*zone element*/
    top: 34.73px;
    left: 1768.98px;
    right: 131.97px;
    bottom: 1026.22px;
    position: absolute;  

}
#notificaciones {
    /*dimensions*/
    width: 20.62px;
    height: 20.17px;
    /*zone element*/
    top: 34.73px;
    left: 1809.2px;
    right: 90.18px;
    bottom: 1025.1px;
    position: absolute;  
}
#photo {
    /*dimensions*/
    width: 53px;
    height: 53px;
    /*zone element*/
    top: 16px;
    left: 1851px;
    right: 16px;
    bottom: 1011px;
    position: absolute; 
}
#linea {
    /*dimensions*/
    width: 1920px; 
    /*zone element*/
    top: 81.5px;
    bottom: 998.5px;
    position: absolute; 

}

#titulo7 {
    /*dimensions*/
    width: 346px;
    height: 40px;
    /*zone element*/
    top: 115px;
    left: 787px;
    right: 787px;
    bottom: 925px;
    position: absolute; 
}

#subtexto7 {
    /*dimensions*/
    width: 827px;
    height: 24px;
    /*zone element*/
    top: 189px;
    left: 526px;
    right: 567px;
    bottom: 867px;
    position: absolute;     
}

#indicador7 {
    /*dimensions*/
    width: 95px;
    height: 24px;
    /*zone element*/
    top: 271.5px;
    left: 111px;
    right: 1714px;
    bottom: 784.5px;
    position: absolute; 
}
#descripcion7 {
    /*dimensions*/
    width: 118px;
    height: 24px;
    /*zone element*/
    top: 272.5px;
    left: 379px;
    right: 1423px;
    bottom: 783.5px;
    position: absolute; 
}
#categoria7 {
    /*dimensions*/
    width: 97px;
    height: 24px;
    /*zone element*/
    top: 271.5px;
    left: 629px;
    right: 1194px;
    bottom: 784.5px;
    position: absolute; 
}
#finicio {
    /*dimensions*/
    width: 149px;
    height: 24px;
    /*zone element*/
    top: 271.5px;
    left: 765px;
    right: 1006px;
    bottom: 784.5px;
    position: absolute;   
}
#fterminacion {
    /*dimensions*/
    width: 217px;
    height: 24px;
    /*zone element*/
    top: 271.5px;
    left: 952px;
    right: 751px;
    bottom: 784.5px;
    position: absolute;       
}
#formula {
    /*dimensions*/
    width: 83px;
    height: 24px;
    /*zone element*/
    top: 271.5px;
    left: 1205px;
    right: 632px;
    bottom: 784.5px;
    position: absolute;    
}
#frecuencia {
    /*dimensions*/
    width: 108px;
    height: 24px;
    /*zone element*/
    top: 271.5px;
    left: 1328px;
    right: 484px;
    bottom: 784.5px;
    position: absolute; 
}
#cumplimiento {
    /*dimensions*/
    width: 144px;
    height: 24px;
    /*zone element*/
    top: 271.5px;
    left: 1475px;
    right: 301px;
    bottom: 784.5px;
    position: absolute; 
}
#area {
    /*dimensions*/
    width: 46px;
    height: 24px;
    /*zone element*/
    top: 271.5px;
    left: 1682px;
    right: 192px;
    bottom: 784.5px;
    position: absolute; 

}
#reg1 {
    /*dimensions*/
    width: 1700px;
    height: 81px;
    /*zone element*/
    top: 314px;
    left: 89.14px;
    right: 130.86px;
    bottom: 685px;
    position: absolute; 
}
#simbol1 {
    /*dimensions*/
    width: 36px;
    height: 31.36px;
    /*zone element*/
    top: 340.82px;
    left: 1800.75px;
    right: 83.25px;
    bottom: 707.82px;
    position: absolute; 
}
#reg2 {
    /*dimensions*/
    width: 1700px;
    height: 81px;
    /*zone element*/
    top: 416.5px;
    left: 89.14px;
    right: 130.86px;
    bottom: 582.5px;
    position: absolute;   
}
#simbol2 {
    /*dimensions*/
    width: 36px;
    height: 31.36px;
    /*zone element*/
    top: 442.82px;
    left: 1800.75px;
    right: 83.25px;
    bottom: 605.82px;
    position: absolute; 
}
#reg3 {
    /*dimensions*/
    width: 1700px;
    height: 81px;
    /*zone element*/
    top: 519.5px;
    left: 89.14px;
    right: 130.86px;
    bottom: 479.5px;
    position: absolute; 
}
#simbol3 {
    /*dimensions*/
    width: 36px;
    height: 31.36px;
    /*zone element*/
    top: 544.82px;
    left: 1801.51px;
    right: 82.49px;
    bottom: 503.82px;
    position: absolute; 
}
#reg4 {
    /*dimensions*/
    width: 1700px;
    height: 81px;
    /*zone element*/
    top: 622px;
    left: 89.14px;
    right: 130.86px;
    bottom: 377px;
    position: absolute; 
}
#simbol4 {
    /*dimensions*/
    width: 36px;
    height: 31.36px;
    /*zone element*/
    top: 646.82px;
    left: 1801.51px;
    right: 82.49px;
    bottom: 401.82px;
    position: absolute;    
}
#reg5 {
    /*dimensions*/
    width: 1700px;
    height: 81px;
    /*zone element*/
    top: 724px;
    left: 89.14px;
    right: 130.86px;
    bottom: 275px;
    position: absolute;
}
#simbol5 {
    /*dimensions*/
    width: 36px;
    height: 31.36px;
    /*zone element*/
    top: 748.82px;
    left: 1801.51px;
    right: 82.49px;
    bottom: 299.82px;
    position: absolute; 
}
#reg6 {
    /*dimensions*/
    width: 1700px;
    height: 81px;
    /*zone element*/
    top: 822.5px;
    left: 89.14px;
    right: 130.86px;
    bottom: 176.5px;
    position: absolute;
}
#simbol6 {
    /*dimensions*/
    width: 36px;
    height: 31.36px;
    /*zone element*/
    top: 847.32px;
    left: 1801.51px;
    right: 82.49px;
    bottom: 201.32px;
    position: absolute; 
}
#boton7 {
    /*dimensions*/
    width: 336px;
    height: 70px;
    /*zone element*/
    top: 937px;
    left: 792px;
    right: 792px;
    bottom: 73px;
    position: absolute; 
}